
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:wght@200;300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.hero{
    background-image: url("../images/cow.jpg");
    height: 100vh;
    background-position: bottom center;
    background-size: cover;
    clip-path: polygon(50% 0%, 100% 0, 100% 60%, 50% 100%, 0% 60%, 0 0);
}
.hero h1{
    text-align: center;
    font-size: 100px;
    font-weight: 900;
    color: azure;
    padding-top: 60px;
    font-family: cursive;
    word-spacing: 40px;
    letter-spacing: 20px;
}
.article, #cow-types{
    width: 80%;
    margin: 60px auto;
    /* border: 15px solid yellow; */
    padding: 60px;
    /* background-color: aqua; */
    background: linear-gradient(45deg, pink, rgb(122,122,244), red);
}
.article h2, #cow-types h2{
    text-align: center;
    font-size: 48px;
    border-bottom: 2px solid yellow;
    margin-bottom: 60px;
    padding-bottom: 30px;
}
.article p{
    font-size: 28px; 
    /* line-height: 50px; */
    /* line-height: 2em; */
    line-height: 2rem; 
}
.article p .imp{
    font-size: 2em;
    background-color: yellow;
    width: 600px;
    /* display:inline-block; */
    /* display: block; */
    /* display: inline; */
}
.cow-images{
    display: flex;
    /* flex-direction: row; */
    /* default value row, so not need here */
    gap: 20px;
    /* justify-content: center; */
    /* justify-content: space-between; */
    justify-content: space-around;

}
.cow-images div{
    width: 300px;
}
.cow-images img{
    width: 100%; 
    /* width value should give in %, then design will not break */
    /* width: 225px; */
    /* height: 300px; */

}